.header {
    width: 100%;
    padding: 16px;
    position: fixed;
    background-color: white;
    font-size: 24px;
    font-weight: 500;
    top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.chat-window {
    width: 600px;
    margin: 84px auto;
    padding-bottom: 120px;
    background-color: #ffffff;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100vh;
}

.message {
    margin: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    max-width: 80%;
}

.message.user {
    background-color: #F0F3Fb;
    align-self: flex-end;
    text-align: left;
}

.message.bot {
    align-self: flex-start;
    text-align: left;
}

.input-wrapper {
    padding: 32px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(120px);
}

.input-container {
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 8px;
    margin: auto;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #E6E9F1;
}

.chat-input {
    width: 100%;
    padding: 0px 8px;
    border: none;
    font-size: 16px;
    border-radius: none;
    color: black;
    background-color: transparent;
}

.chat-input:focus {
    border: none;
    outline: none;
}

.marketing {
    position: absolute;
    top: 8px;
}

.highlight {
    color: #FF00C7;
}