.form {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 24px;
    margin-top: 16px;
    border: 1px solid #F0F3FB;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    display: block;
}

.personal-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}

.form-input {
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #F7FAFC;
    border: none;
    height: 34px;
    font-size: 16px;
}